{% extends 'adminlte/base.html' %}
{% block title_outer %}
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
{% endblock %}
{% block nav_header %}
    {% include 'adminlte/lib/_main_header.html' %}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <h1>
            {% block page_name %}{% endblock %}
            {% block no_description %}
            <small>{% block page_description %}{% endblock %}</small>
            {% endblock %}
        </h1>
        {% block breadcrumbs %}
            {# Breadcrumb implementation left to developers #}
        {% endblock %}
    </section>
{% endblock %}

{% block content %}
{% endblock %}
