{% extends 'adminlte/base.html' %}

{% block title %}{{ title }}{% endblock %}

  {% block page_name %}首页{% endblock %}
  {% block content %}
      {{ welcome }}

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <div class="col-xs-12">
              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Hover Data Table</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>OEM</th>
                      <th>OEM CN</th>
                      <th>Engine version</th>
                      <th>CSS grade</th>
                    </tr>
                    </thead>
                    <tbody>
                  {% for manufacturer in manufacturer_list %}
                    <tr>
                      <td>{{ manufacturer.id }}</td>
                      <td>{{ manufacturer.name }} </td>
                      <td>{{ manufacturer.name_cn }}</td>
                      <td> 4</td>
                      <td>X</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>No</th>
                      <th>Browser</th>
                      <th>Platform(s)</th>
                      <th>Engine version</th>
                      <th>CSS grade</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->

              <div class="box">
                <div class="box-header">
                  <h3 class="box-title">Data Table With Full Features</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <table id="example1" class="table table-bordered table-striped">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>Model Name</th>
                      <th>CN Name</th>
                      <th>Wheelbase</th>
                      <th>Brand</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for carmodel in carmodel_list %}
                    <tr>
                      <td>{{ carmodel.id }}</td>
                      <td>{{ carmodel.name }}</td>
                      <td>{{ carmodel.name_cn }}</td>
                      <td>{{ carmodel.wheelbase }}</td>
                      <td>{{ carmodel.manufacturer.name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                      <th>No</th>
                      <th>Model Name</th>
                      <th>CN Name</th>
                      <th>Wheelbase</th>
                      <th>Brand</th>
                    </tr>
                    </tfoot>
                  </table>
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </section>
        <!-- /.content -->

  {% endblock %}
